*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilizando o parágrafo */
.products p {
    margin: 0;
    text-align: center;
    padding: 10px;
    color: rgb(179, 224, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(22, 104, 132) ;
    padding: 30px;
    background-color: lightskyblue ;
}